<div class="col-md-7">
	<div class="panel">
		<div class="panel-heading">
			<img src="svg/vend-tag-logo.svg">
			<p>Sign in</p>
		</div>
		<div class="panel-body">
			<div class="p-panelbody">
				<p>INDIE HOME COLLECTIVE <span class="store">Not your store?</span></p>
			</div>
			<form>
				<fieldset>
					<div class="form-group">
						<input class="form-control" maxlength="30" name="email" placeholder="Email or Username" required="" type="text">
					</div>
					<div class="form-group">
						<input class="form-control" name="password" placeholder="Password" type="password" value="">
					</div><input class="btn btn-lg pull-right text-center" type="submit" value="SIGN IN ">
					<div class="forgot-signin">
						<label>Forgot your Sign in?</label>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
