
  <div class="col-md-7">
  	<div class="panel">
		  <div class="panel-heading">
				<img src="svg/vend-tag-logo.svg" />
				<p>Sign in</p>

		 	</div>
		  	<div class="panel-body">
					<div class="p-panelbody">
						<p>INDIE HOME COLLECTIVE <span class="store">Not your store?</span></p>
					</div>


		    	<form>
            <fieldset>
	    	  		<div class="form-group">
	    		    	<input class="form-control" placeholder="Email or Username"
								 required name="email" type="text" minlength="5" maxlength="30" >
	    				</div>
	    				<div class="form-group">
	    					<input class="form-control" placeholder="Password" name="password" type="password" value="">
	    				</div>
							<input class="btn btn-lg btn-effect btn-success pull-right col-sm-4 text-center" type="submit" value="SIGN IN ">
	    				<div class="forgot-signin">
	    	    		<label>
	    	    			<p>Forgot your Sign in?</p>
	    	    		</label>
	    	    	</div>
		    		</fieldset>
		      </form>
		    </div>
		</div>
	</div>
