<div class="container">
  <div class="col-md-6 col-md-push-6">
  	<div class="panel">
		  <div class="panel-heading">
				<div class="vend-svg">
					<img src="svg/vend-tag-logo.svg" />
					<p>Sign in</p>
				</div>
		 	</div>
		  	<div class="panel-body">
					<div class="p-panelbody">
						<p>INDIE HOME COLLECTIVE</p>
					</div>
					<div class="your-store">
						<p>Not your store?</p>
					</div>
		    	<form accept-charset="UTF-8" role="form">
            <fieldset>
	    	  		<div class="form-group">
	    		    	<input class="form-control" placeholder="Email or Username" name="email" type="text">
	    				</div>
	    				<div class="form-group">
	    					<input class="form-control" placeholder="Password" name="password" type="password" value="">
	    				</div>
							<input class="btn btn-lg btn-effect btn-success pull-right col-sm-4 text-center" type="submit" value="SIGN IN ">
	    				<div class="forgot-signin">
	    	    		<label>
	    	    			<p>Forgot your Sign in?</p>
	    	    		</label>
	    	    	</div>
		    		</fieldset>
		      </form>
		    </div>
		</div>
	</div>
</div>
