#navigation {
    background-color: #525252;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 5px 0;
    height: 3em;
}
h1.navbar-brand {
    font-size: .9em;
    font-weight: 700;
    color: #ececec;
    margin-top: -.5em;
}

h1.sign-in {
    font-size: .9em;
    font-weight: 700;
    color: #ececec;
    margin-top: -.5em;
    right: 12em;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ececec;
    font-size: .9em;

}

.navbar-nav > img {
    height: 1em;
    margin: 1.2em;
}
